a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 250px;
  height: 50px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
}
a:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46,229,157,.4);
  color: white;
  transform: translateY(-7px);
}

a:logo {
  margin-top: 43px;
  float: left;
  width: 358px;
}

  @import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");
  html {
    background: var(--backg);
    --btn: #2ab1ce;
    --backg: #fff;
    --colorx: #232323;
      width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  html[data-theme='dartheme'] {
    background: var(--backg);
    --btn: #ea4b3c;
    --backg: #232323;
    --colorx: #fff;
  }
  
  h1 {
    font-family: 'Fredoka One', cursive;
    font-weight: 300;
    color: var(--colorx);
  }
  h2 {
    font-family: 'Fredoka One', cursive;
    font-weight: 100;
    color: var(--colorx);
  }
  
  input[type=checkbox] {
    visibility: hidden;
    height: 0;
    width: 0;
    
  }
  
  label {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    text-indent: -9999px;
    width: 60px;
    height: 30px;
    background: var(--btn);
    position : absolute;
    line-height: 12px;
    width: 60px;
    font-size: 50pt;
    font-family: tahoma;
    margin-top: 5px;
    margin-right: 6px;
    position:absolute;
    top: 15px;
    right: 15px;
  }
  
  label:after {
    border-radius: 50%;
    position: absolute;
    content: '';
    background: #fff;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 4px;
    transition: ease-in-out 200ms;
  }
  
  input:checked + label {
    background: #ea4b3c;
  }
  
  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  html.transition,
  html.transition *,
  html.transition *:before,
  html.transition *:after {
    transition: ease-in-out 200ms !important;
    transition-delay: 0 !important;
  }
  
  #nomeid{
    position : absolute;
    left : 20px;
    right : 20px;
  }
  .orarioscuola {max-width: 100%}