<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2 Elci - Homepage</title>
    <meta name="viewport" content="width=device-width" >
    <link rel="icon" type="image/png" href="static/images/assets/logo.png">
    <link rel="stylesheet" href="static/css/homepage.css" type="text/css"/>
</head>
<body>
    <canvas class="background"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script>
    particlesJS.load("particles-js", "{{ url_for('static', filename='particles.json') }}",
    function(){
    console.log("particles.json has loaded");
});
</script>


</body>
</html>