<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2 Elci - Homepage</title>
    <meta name="viewport" content="width=device-width" >
    <link rel="icon" type="image/png" href="static/images/assets/logo.png">
    <link rel="stylesheet" href="static/css/homepage.css" type="text/css"/>
</head>
<body>
    <canvas class="background"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
    <!-- Logo center -->
    <center>
        <img src="static/images/assets/logo.png">
    </center>
    <!-- Orario - Calendario -->
    <div class="orario">
        <a href="/orario"><img src="static/images/assets/orario_logo.png", width = "150"></a>

        <a href="/calendario"><img src="static/images/assets/calendario_logo.png", width = "150"></a>
    </div>

</body>
</html>